
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('Img/logo.jpg') }}" alt="logo" style="width:40px;">
        </a>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link h3" href="{{ path('home') }}">Sortie.com</a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            {%  if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link  " href="{{ path('ville_ville') }}">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="{{ path('campus_home') }} ">Campus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="{{ path('participant_list') }}">Les profils</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link " href="{{ path('participant_view' , {'id' : app.user.id}) }}">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('logOut') }}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>