{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

<div class="container">
    <h1> {{ title }}</h1>

    <div class="row">
        <div class="col">
            {{ form_start(formFilter) }}
            {{ form_row(formFilter.campus) }}
            {{ form_row(formFilter.nom) }}
            {{ form_row(formFilter.dateDebut) }}
            {{ form_row(formFilter.dateCloture) }}
        </div>
        <div class="col">
            {{ form_row(formFilter.isOrganisateur) }}
            {{ form_row(formFilter.isInscrit) }}
            {{ form_row(formFilter.notInscrit) }}
            {{ form_row(formFilter.isOnlyOld) }}
            <button type="submit">Valider</button>
            {{ form_end(formFilter) }}
        </div>
    </div>
    <div class="row text-center">
        <table class="table">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture </th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th colspan="2">Action</th>
            </tr>
            {%  for inscrit in listSortie %}
                <tr>
                    <td>{{ inscrit[0].sortie.nom }}</td>
                    <td>{{ inscrit[0].sortie.dateDebut | date("m/d/y") }}</td>
                    <td>{{ inscrit[0].sortie.dateCloture | date("m/d/y") }}</td>
                    <td>{{ inscrit.inscrit }} / {{ inscrit[0].sortie.nbInscriptionMax }}</td>
                    <td>{{ inscrit[0].sortie.etat.libelle }}</td>
                    <td></td>
                    <td>{{ inscrit[0].sortie.organisateur.pseudo }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
