{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

<div class="container">
    <h1> {{ title }}</h1>

    <div class="row">
        <p>Flitre sur les Sortie</p>

    </div>
    <div class="row text-center">
        <table class="table">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture </th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th colspan="2">Action</th>
            </tr>
            {%  for sortie in listSortie %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut | date("m/d/y") }}</td>
                    <td>{{ sortie.dateCloture | date("m/d/y") }}</td>
                    <td> / {{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td></td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
