{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

    <h3 class="text-center">{{ participant[0].pseudo }}</h3>

    <div class="container">
        <div class="col-5 float-left">
                {% if participant[0].urlPhoto == null or participant[0].urlPhoto == "" %}
                    <p> pas encore de photo</p>
                {% else %}
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="{{ asset('Img/'~ participant[0].urlPhoto ) }}" alt="Card image cap">
                </div>
                {% endif %}
        </div>
        <div class="float-left">
        <p>Prenom : {{ participant[0].prenom }}</p><br/>
        <p>Nom : {{ participant[0].nom }}</p><br/>
        <p>Téléphone : {{ participant[0].telephone }}</p><br/>
        <p>Email : {{ participant[0].email }}</p><br/>
        <p>Campus : {{ participant[0].campus.nomCampus }}</p><br/>
            {%  if is_granted('ROLE_ADMIN') %}
                <a class="button" href="{{ path('participant_list') }}">Retour</a><br/>
            {% else %}
                <a class="button" href="{{ path('home') }}">Retour</a><br/>
            {% endif %}
        </div>
    </div>
{% endblock %}