{% block formSortie %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateCloture) }}
                {{ form_row(form.duree) }}
                {{ form_row(form.nbInscriptionMax) }}
                {{ form_row(form.descriptionInfo) }}
            </div>
            <div class="col">
                {{ form_row(form.campus) }}

                <label>Ville:</label>
                <select id="select_ville" onchange="onVilleChanged()">
                {% for ville in villes %}
                    <option value="{{ ville.id }}">{{ ville.nom }}</option>
                {% endfor %}
                </select>

                {{ form_row(form.lieux, {'attr' :{'onchange': 'onLieuxChanged()'}}) }}
                <table>
                    <tr>
                        <td>Rue:</td>
                        <td id="rue"></td>
                    </tr>
                    <tr>
                        <td>Code Postal:</td>
                        <td id="codepostal"></td>
                    </tr>
                    <tr>
                        <td>Latitude:</td>
                        <td id="latitude"></td>
                    </tr>
                    <tr>
                        <td>Logitude:</td>
                        <td id="longitude"></td>
                    </tr>
                </table>

                {{ form_row(form.organisateur) }}
                {{ form_row(form.etat) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
            </div>
            <div class="col">
                <a href="{{ path('home') }}" class="btn btn-danger btn-lg btn-block">Annuler</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script src="{{ asset('/js/sortie/sortie.js') }}"></script>
{% endblock %}
