{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Nom: {{ sortie.nom }}</p>
            <p>Date de début: {{ sortie.dateDebut | date("d/m/Y")}}</p>
            <p>Date de fin: {{ sortie.dateCloture | date("d/m/Y")}}</p>
            <p>Durée: {{ sortie.duree }}</p>
            <p>Nombre d'incription max: {{ sortie.nbInscriptionMax }}</p>
            <p>Description: {{ sortie.descriptionInfo }}</p>

        </div>
        <div class="col">
            <p>Campus:
                {% if sortie.campus is null %}
                    undifined
                {% else %}
                    {{  sortie.campus.nomCampus  }}
                {% endif %}
            </p>

            {% if sortie.LIEUX is null %}
                <p>Lieux: undifined</p>
                <p>Rue: undifined</p>
                <p>Code postal: undifined</p>
                <p>Ville: undifined</p>
                <p>Latitude: undifined</p>
                <p>Longitude: undifined</p>
            {% else %}
                <p>Lieux: {{  sortie.lieux.nom  }}</p>
                <p>Rue: {{  sortie.lieux.rue  }}</p>
                <p>Code postal: {{  sortie.lieux.ville.codePostal  }}</p>
                <p>Ville: {{  sortie.lieux.ville.nom  }}</p>
                <p>Latitude: {{  sortie.lieux.latitude  }}</p>
                <p>Longitude: {{  sortie.lieux.longitude  }}</p>
            {% endif %}


            <p>Organisateur:
                {% if sortie.organisateur is null %}
                    undifined
                {% else %}
                    {{  sortie.organisateur.pseudo  }}
                {% endif %}
            </p>

            <p>Etat:
                {% if sortie.etat is null %}
                    undifined
                {% else %}
                    {{  sortie.etat.libelle  }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom & prénom</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription in sortie.inscriptions %}
                <tr>
                    <th scope="row">{{ inscription.participant.id }}</th>
                    <td>{{ inscription.participant.pseudo }}</td>
                    <td>{{ inscription.participant.nom }} {{ inscription.participant.prenom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
